<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book store</title>
  </head>
  <body>
    <h1>Admin data</h1>
    <form action="/admin/books" method="post">
      name of the book <input name="title" /> author <input name="author" />
      <button type="submit">Add Book</button>
    </form>
  </body>
</html>
